html {
  min-height: 100%;
  display: flex;
  justify-content: center;
}

body { 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 70%;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 0;
  margin: 0;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  border-bottom: 1px solid #e9ecef;
}

.content {
  display: flex;
  flex: 1 0 auto;
}

aside {
  background-color: #fff;
  width: 30%;
  padding: 10px 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.featured_block {
  display: flex;
  font-size: 30px;
  justify-content: center;
}

main {
  background-color: #fff;
  width: 70%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message {
  height: 20%;
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #a6a9ac;
  border-radius: 3px;
}

.text {
  background-color: #fff;
  height: 100%;
  width: 60%;
  padding-left: 6px;
  padding-right: 6px;
}

.headline{
  margin: 0;
  margin-top: 10px;
  margin-block-end: 0em;
  font-weight: bold;
  font-size: 20px;
}

hr {
  padding: 0;
  margin: 0;
  border: 0.5px solid black;
  width: 95%;
}
.double_hr {
  margin: 2px;
}

.grey_hr {
 border: 1px solid #eee;
}

img {
  max-width:100%;
  max-height:100%;
  object-fit: fill;
}

.image {
  height: 100%;
  width: 40%;
  display: flex;
}

footer {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e9ecef;
}

@media only screen and (max-width: 1200px) {
  
  body {
    width: 100%;
  }

  .message {
    width: 100%;
  }

}

@media only screen and (max-width: 1000px) {
  
  body {
    width: 100%;
  }

  main {
    width: 100%;
  }

  .message {
    width: 100%;
  }

  aside {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  
  body {
    width: 100%;
  }

  main {
    width: 100%;
  }

  .message {
    width: 100%;
    height: 20%;
    justify-content:flex-end;
    flex-direction: column-reverse;
  }

  .image{
    width: 100%;
    height: 50%;
  }

  img {
    object-fit: cover;
  }
  
  aside {
    display: none;
  }

  .text {
    width: 100%;
    height: 20%;
  }
}